bind-address = "{{LNDR_BIND_ADDRESS}}"
bind-port = {{LNDR_BIND_PORT}}

lndr-ucacs {
  aud = "{{LNDR_UCAC_AUD}}"
  cad = "{{LNDR_UCAC_CAD}}"
  chf = "{{LNDR_UCAC_CHF}}"
  cny = "{{LNDR_UCAC_CNY}}"
  dkk = "{{LNDR_UCAC_DKK}}"
  eur = "{{LNDR_UCAC_EUR}}"
  gbp = "{{LNDR_UCAC_GBP}}"
  hkd = "{{LNDR_UCAC_HKD}}"
  idr = "{{LNDR_UCAC_IDR}}"
  ils = "{{LNDR_UCAC_ILS}}"
  inr = "{{LNDR_UCAC_INR}}
  jpy = "{{LNDR_UCAC_JPY}}"
  krw = "{{LNDR_UCAC_KRW}}"
  myr = "{{LNDR_UCAC_MYR}}"
  nok = "{{LNDR_UCAC_NOK}}"
  nzd = "{{LNDR_UCAC_NZD}}"
  rub = "{{LNDR_UCAC_RUB}}"
  sek = "{{LNDR_UCAC_SEK}}"
  sgd = "{{LNDR_UCAC_SGD}}"
  thb = "{{LNDR_UCAC_THB}}"
  try = "{{LNDR_UCAC_TRY}}"
  usd = "{{LNDR_UCAC_USD}}"
  vnd = "{{LNDR_UCAC_VND}}"
}

credit-protocol-address = "{{CREDIT_PROTOCOL_ADDRESS}}"

issue-credit-event = "{{ISSUE_CREDIT_EVENT}}"

scan-start-block = {{SCAN_START_BLOCK}}

db {
  host = "{{DB_HOST}}"
  port = {{DB_PORT}}
  user = "{{DB_USER}}"
  user-password = "{{DB_PASSWORD}}"
  name = "{{DB_NAME}}"
}

execution-private-key = "{{ETHEREUM_PRIVATE_KEY}}"
gas-price = {{ETHEREUM_GAS_PRICE}}
max-gas = {{ETHEREUM_MAX_GAS}}

heartbeat-interval = {{HEARTBEAT_INTERVAL}}

aws {
  photo-bucket = "{{S3_PHOTO_BUCKET}}"
  access-key-id = "{{AWS_ACCESS_KEY_ID}}"
  secret-access-key = "{{AWS_SECRET_ACCESS_KEY}}"
}

notifications {
  api-url = "{{NOTIFICATIONS_API_URL}}"
  api-key = "{{NOTIFICATIONS_API_KEY}}"
}

web3-url = "{{ETHEREUM_CLIENT_URL}}"
