lndr-ucacs {
  usd = "{{LNDR_UCAC_USD}}"
  jpy  = "{{LNDR_UCAC_JPY}}"
  krw = "{{LNDR_UCAC_KRW}}"
}

credit-protocol-address = "{{CREDIT_PROTOCOL_ADDRESS}}"

issue-credit-event = "{{ISSUE_CREDIT_EVENT}}"

scan-start-block = {{SCAN_START_BLOCK}}

db {
  host = "{{DB_HOST}}"
  port = {{DB_PORT}}
  user = "{{DB_USER}}"
  user-password = "{{DB_PASSWORD}}"
  name = "{{DB_NAME}}"
}

execution-address = "{{ETHEREUM_ACCOUNT}}"
gas-price = {{ETHEREUM_GAS_PRICE}}
max-gas = {{ETHEREUM_MAX_GAS}}

urban-airship {
  key = "{{URBAN_AIRSHIP_KEY}}"
  secret = "{{URBAN_AIRSHIP_SECRET}}"
}
urban-airship {
    usd {
        key = "{{URBAN_AIRSHIP_KEY_USD}}"
        secret = "{{URBAN_AIRSHIP_SECRET_USD}}"
    }
    jpy {
        key = "{{URBAN_AIRSHIP_KEY_JPY}}"
        secret = "{{URBAN_AIRSHIP_SECRET_JPY}}"
    }
    krw {
        key = "{{URBAN_AIRSHIP_KEY_KRW}}"
        secret = "{{URBAN_AIRSHIP_SECRET_KRW}}"
    }
}


heartbeat-interval = {{HEARTBEAT_INTERVAL}}

aws {
  photo-bucket = "{{S3_PHOTO_BUCKET}}"
  access-key-id = "{{AWS_ACCESS_KEY_ID}}"
  secret-access-key= "{{AWS_SECRET_ACCESS_KEY}}"
}

web3-url = "{{ETHEREUM_CLIENT_URL}}"
